[submodule "_locale/es"]
	path = _locale/es
	url = https://github.com/swcarpentry-ja/r-novice-gapminder-es.git
[submodule "_locale/ja"]
	path = _locale/ja
	url = https://github.com/swcarpentry-ja/r-novice-gapminder-ja.git
